DISCORD_BOT_TOKEN=""
TARGET_VC_CHANNEL_ID=""
TARGET_ROLE_NAME=""
GUILD_ID=""
JOIN_LIMIT_COUNT=5
JOIN_LIMIT_WINDOW_SECONDS=60
SHORT_STAY_SECONDS=30
SHORT_STAY_THRESHOLD=5
SHORT_STAY_WINDOW_SECONDS=120
