DISCORD_TOKEN=""
GUILD_ID=""
STUDY_TIME_VC_CHANNEL_ID=""
MODERATION_REPORT_VC_CHANNEL_ID=""
STUDY_TIME_ROLE_NAME=""
STUDY_TIME_VC_JOIN_LIMIT_COUNT=5
STUDY_TIME_VC_JOIN_LIMIT_WINDOW_SECONDS=60
STUDY_TIME_VC_SHORT_STAY_SECONDS=30
STUDY_TIME_VC_SHORT_STAY_THRESHOLD=5
STUDY_TIME_VC_SHORT_STAY_WINDOW_SECONDS=120
